* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
  font-family: system-ui, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.camera-container {
  position: relative;
  width: 320px;
  height: 480px;
  border: 2px solid black;
  overflow: hidden;
}

.camera-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);

}

.start-btn {
  padding: 16px 32px;
  font-size: 24px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}
.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  font-weight: bold;
  color: pink;
  text-shadow: 3px 3px 0 black;
  pointer-events: none;
  z-index: 10;
}



